
    body {
      font-family: Arial, sans-serif;
      background-color: hsl(345, 12%, 93%);
      margin: 0;
      padding: 0;

      
    }

 

    header {
      background-color: #dbdee3;
      color: #fff;
      padding: 20px;
      text-align: center;
    }

    .container {
      max-width: 10000px;
      margin: 4px auto;
      background-color: rgb(22, 6, 1);
      padding: 30px;
      border-radius: 20px;
      box-shadow: 0 10px 8px  
    
    }

    h1, h2, h3 {
      color: #d8d5d5;
             
    }

    h4{
        font-size: 30px;
        color: #d8d5d5;
        text-align: center;
    }

    p {
      line-height: 1.6;
      color: #fbf4f4;
             
    }
      p1 {
      line-height: 1.6;
      color: #fbf4f4;
        text-align :center;      
    }
      li {
      line-height: 1.6;
      color: #fbf4f4;
             
    }

    footer {
      text-align: center;
      margin-top: 4px;
      padding: 20px;
      color: #6b7280;
             
    }

    /* Container do menu */
    .menu-container {
      position: absolute;
      top: 10px;
      left: 20px;
    }

    /* Botão do menu */
    .menu-button {
      background-color: #2b2828;
      color: white;
      padding: 10px 25px;
      border: none;
      cursor: pointer;
      font-size: 15px;
      border-radius: 5px;
    }

    /* Itens do menu */
    .menu-options {
      display: none;
      position: absolute;
      left: 0;
      background-color: rgb(241, 239, 244);
      box-shadow: 0 0 5px rgba(26, 25, 25, 0.2);
      border-radius: 5px;
      margin-top: 5px;
      min-width: 180px;
    }

    .menu-options a {
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      color: rgb(17, 17, 17);
    }

    .menu-options a:hover {
      background-color: #d4caca;
    }
  footer {
    background-color: #8d1212;
    color: white;
    text-align: center;
    padding: 20px;
  }
  .social a img {
    margin: 0 10px;
    transition: transform 0.3s;
  }
  .social a img:hover {
    transform: scale(1.2);
  }
 #video-bg{
position: fixed;
top: 0;
left: 0;
min-width: 100%;
min-height: 100%;
object-fit: cover;
z-index: -1;
  }
 